.toggle-switch {
    position: relative;
    display: inline-block;
    width: 3.75rem;
    height: 2.125rem;

    .toggle-switch-toggle {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 2.125rem;
        background-color: #ccc;
        cursor: pointer;
        transition: background-color 0.2s;

        &:after {
            content: "";
            position: absolute;
            top: 0.25rem;
            left: 0.25rem;
            width: 45%;
            height: 75%;
            border-radius: 50%;
            background-color: white;
            transition: transform 0.2s;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: bold;
            color: #ccc;
        }
    }

    &.toggle-switch-checked .toggle-switch-toggle {
        background-color: #2196f3;

        &:after {
            transform: translateX(1.625rem);
            color: white;
        }
    }

    .toggle-switch-labels {
        position: absolute;
        display: flex;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        justify-content: space-between;
        pointer-events: none;

        .toggle-switch-label {
            color: black;
            font-size: 0.625rem;
            font-weight: bold;
            text-transform: uppercase;
            transition: color 0.2s;
            margin: 0 0.25rem;
            display: flex;
            align-items: center;
            width: 50%;
            justify-content: center;

            &.toggle-switch-label-selected {
                color: #2196f3;
            }
        }
    }
}
