@use "../../variables" as v;

.projects {
  background-color: v.$darkPurple;

  .heading-row {
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;

    h1 {
      color: v.$white;
      text-transform: uppercase;
      width: fit-content;
    }
  }

  .project-wrapper {
    text-align: center;

    .project-image {
      width: 100%;
      border: 0.5rem solid var(--primary-dark);
    }

    .project-icon {
      position: absolute;
      top: 35%;
      left: 45%;
      color: var(--primary-gray);
      font-size: 1.5rem;
    }

    h3 {
      padding-top: 2rem;
      color: v.$white
    }

  }


}