@use "../../variables" as v;
@import "../../App.scss";

.education {
	background-color: v.$mediumPurple;
	height: 100%;

	.heading-row {
		display: flex;
		justify-content: center;

		h1 {
			color: $white;
			text-transform: uppercase;
			width: fit-content;
		}
	}

	.timeline-wrapper {
		height: 100%;

		.timeline-block {
			display: flex;
			flex-direction: row;
			height: fit-content;
			padding-bottom: 1rem;
			cursor: pointer;

			.line-wrapper {
				display: flex;

				.line {
					background-color: v.$white;
					margin: 0 auto;
					width: 2px;
					justify-content: center;
					height: 130%;
				}

				.marker {
					width: 1.5rem;
					height: 1.5rem;
					align-self: center;
					border-radius: 50%;
					background: white;
					z-index: 3;
				}
			}

			.timeline-content {
				padding: 0 1rem 0 1rem;
				width: 100%;
				height: fit-content;
				color: $white;
				direction: ltr;
				border-radius: 10px;

				p {
					margin: 0;
				}

				h3 {
					color: $white;
				}
			}
		}

		.timeline-block:hover .marker {
			transform: scale(2, 2);
			background: v.$lightPurple;
			border: 2px solid v.$light-gray;
			transition: 0.4s ease-in-out;
		}

		.timeline-block:hover .timeline-content h3 {
			transition: 0.4s ease-in-out;
		}

		.timeline-block-left:hover .timeline-content {
			// padding-left: 2rem;
			border-radius: 10px;
			background-color: v.$lightPurple;
			transition: 0.4s ease-in-out;
		}

		.timeline-block-right:hover .timeline-content {
			// padding-left: 2rem;
			border-radius: 10px;
			background-color: v.$lightPurple;
			transition: 0.4s ease-in-out;
		}
	}
	.education-section:last-child {
		.line {
			height: 110% !important;
		}
	}
}

//lg
@media (min-width: 992px) {
	.education {
		.timeline-block-right {
			text-align: left;
			justify-content: flex-end;
			transform: translate(-0.81rem);

			.line-wrapper {
				margin-right: 0.8rem;

				.marker {
					margin-left: -0.8rem;
				}
			}
		}

		.timeline-block-left {
			text-align: right;
			direction: rtl;
			transform: translate(0.81rem);

			.line-wrapper {
				margin-left: 0.8rem;

				.marker {
					margin-right: -0.8rem;
				}
			}
		}
	}

	.timeline-block-left:hover .timeline-content {
		// padding-right: 2rem !important;
		background-color: v.$lightPurple;
		border-radius: 10px;
	}
}

//md
@media (max-width: 992px) {
	.education {
		.timeline-block-right {
			.line-wrapper {
				margin-right: 0.8rem;

				.marker {
					margin-left: -0.8rem;
				}
			}
		}

		.timeline-block-left {
			text-align: left;
			direction: ltr;

			.line-wrapper {
				margin-right: 0.8rem;

				.marker {
					margin-left: -0.8rem;
				}
			}
		}
	}
}
