.expandable-section {
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;

	.expandable-section__button {
		padding: 10px 20px;
		background-color: transparent;
		color: #fff;
		border: none;
		border-radius: 4px;
		cursor: pointer;
		transition: background-color 0.3s;

		&:hover {
			// background-color: #0056b3;
			transition: 1s ease-in-out;
			text-decoration: underline;
		}
	}

	.expandable-section__content {
		display: flex;
		justify-content: center;
		text-align: center;
		margin-top: 10px;
		padding: 10px;
		// border: 1px solid #ccc;
		border-radius: 4px;
		color: white;
		// background-color: #f0f0f0;
	}
}
