canvas {
	border: 2px solid black;
	padding: 0 !important;
	background-color: black;
	border-radius: 10px;
}

.mobile-controls {
	padding-top: 1rem;
	display: flex;
	justify-content: center;
	margin: 1rem 0;
	gap: 1rem;
	padding-bottom: 1rem;
	width: 100%;
}

.left {
	width: 30%;
	border-radius: 10px;
	background-color: transparent;
}
.fire {
	width: 40%;
	border-radius: 10px;
	background-color: transparent;
}
.right {
	width: 30%;
	border-radius: 10px;
	background-color: transparent;
}

.sound-wrapper {
	padding-top: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	color: white;
}
