@use "../../variables" as v;

.skills {
	text-align: center;
	background-color: v.$mediumPurple;

	.skill {
		padding-bottom: 2rem;
		cursor: pointer;

		.heading-row {
			display: flex;
			justify-content: center;
			padding-bottom: 1rem;

			h1 {
				color: v.$white;
				text-transform: uppercase;
				width: fit-content;
			}
		}

		.box {
			width: 100%;
			display: flex;
			flex-direction: column;
			background: v.$lightPurple;
			transition: 0.4s ease-in-out;
			align-items: center;
			height: 100%;
			border-radius: 5px;
			padding: 1rem 0;
			overflow: hidden;

			.skill-icons-wrapper {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-evenly;
				height: fit-content;
				padding: 0.5rem 0;
				width: 100%;
				height: 50%;

				.skill-icon {
					display: flex;
					justify-content: center;
					flex-direction: column;
					color: v.$white;
					align-items: center;
					text-align: center;
					padding: 0;

					.skill-icon-back {
						width: 3rem;
						height: 3rem;
					}

					span {
						white-space: nowrap;
						font-size: 0.8rem;
					}
				}
			}

			.skills-description {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				padding: 0.5rem 0;
				height: 50%;
			}

			.front-wrapper {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				.circle {
					background: v.$white;
					border-radius: 50%;
					width: 5rem;
					height: 5rem;
					display: flex;
					justify-content: center;
					align-items: center;
					margin-bottom: 1rem;

					.skill-icon-front {
						width: 3rem;
						height: 3rem;
					}
				}
			}

			h3 {
				color: v.$white;
			}

			p {
				color: v.$light-gray;
				margin: 0;
			}
		}

		.front {
			min-height: 20rem;
			.box {
				justify-content: center;
			}
		}
		.back {
			min-height: 20rem;
			.box {
				background: v.$lightPurple !important;
				justify-content: space-between;
			}
		}

		.box:hover {
			background: v.$light-gray;
			// border-bottom: 0.3125rem solid v.$darkPurple;
			transition: 0.4s ease-in-out;

			.circle {
				background: v.$darkPurple;
				transition: 0.4s ease-in-out;

				.skill-icon-front {
					fill: v.$white;
					transition: 0.4s ease-in-out;
				}
			}

			h3 {
				color: v.$darkerPurple;
				transition: 0.4s ease-in-out;
			}
		}
	}
}
