@use "../../variables" as v;

.skills {
  text-align: center;
  background-color: v.$mediumPurple;

  .heading-row {
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;

    h1 {
      color: v.$white;
      text-transform: uppercase;
      width: fit-content;
    }
  }

  .box {
    display: flex;
    flex-direction: column;
    background: v.$lightPurple;
    transition: 0.4s ease-in-out;
    justify-content: center;
    align-items: center;
    height: 100%;
    border-radius: 5px;
    padding: 1rem;

    .circle {
      background: v.$white;
      border-radius: 50%;
      width: 5rem;
      height: 5rem;
      display: flex;
      justify-content: center;
      align-items: center;


      .icon {
        display: flex;
        justify-content: center;
      }
    }

    h3 {
      color: v.$white;
    }

    p {
      color: v.$light-gray;
    }

  }

  .box:hover {
    background: v.$light-gray;
    // border-bottom: 0.3125rem solid v.$darkPurple;
    color: v.$white;
    transition: 0.4s ease-in-out;

    .circle {
      background: v.$darkPurple;
      transition: 0.4s ease-in-out;

      .icon {
        color: v.$white;
      }
    }

    h3 {
      color: v.$darkerPurple;
      transition: 0.4s ease-in-out;
    }

    p {
      color: v.$darkPurple;
      transition: 0.4s ease-in-out;
    }

  }
}