@use "../../variables" as v;

.about {
  height: -moz-fit-content;
  height: fit-content;
  padding-bottom: 3rem;

  .about-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: 0 auto;


    .photo {
      display: flex;
      width: 30%;
      justify-content: center;

      .profile-img {
        width: 25rem;
        border-radius: 50%;
      }
    }

    .description {
      width: 70%;
      color: white;
    }
  }
}