@import "../../variables";

.about {

  .heading-row {
    display: flex;
    justify-content: center;

    h1 {
      color: $black;
      text-transform: uppercase;
      width: fit-content;
    }
  }

  .about-content {
    display: flex;
    align-items: center;

    .photo {
      display: flex;
      justify-content: center;

      .profile-img {
        width: 25rem;
        border-radius: 50%;
      }
    }

    .description {
      color: $black;
    }
  }
}