@use "../../variables" as v;
@import "../../App.scss";


.experience {
  background-color: v.$darkPurple;
  // padding-bottom: 5rem !important;
  height: 100%;

  .heading-row {
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;

    h1 {
      color: $white;
      text-transform: uppercase;
      width: fit-content;
    }
  }

  // padding-bottom: 3rem;

  .timeline-wrapper::before {
    position: absolute;
    display: flex;
    content: '';
    // top: 0;
    left: 50%;
    width: 0.2rem;
    background: v.$lightPurple;
    // z-index: 1;
    height: 50%;
  }

  .timeline-wrapper {
    height: 100%;

    .timeline-block-right {
      transform: translate(-22px);
    }

    .timeline-block-left {
      text-align: right;
      direction: rtl;
      transform: translate(25px);
    }

    .timeline-block {
      display: flex;
      flex-direction: row;

      .marker {
        width: 1.5rem;
        height: 1.5rem;
        align-self: center;
        border-radius: 50%;
        // border: 0.325rem solid white;
        background: white;
        z-index: 3;
      }

      .timeline-content {
        padding: 0 1rem 0 1rem;
        width: 95%;
        color: $white;
        direction: ltr;

        h3 {
          color: $white;
          ;
        }
      }
    }

    .timeline-block:hover .marker {
      transform: scale(2, 2);
      background: $blue;
      transition: 0.4s ease-in-out;
    }

    .timeline-block:hover .timeline-content h3 {
      font-weight: bold;
      transition: 0.4s ease-in-out;
    }

    .timeline-block-left:hover .timeline-content {
      padding-right: 2rem;
      transition: 0.4s ease-in-out;
    }

    .timeline-block-right:hover .timeline-content {
      padding-left: 2rem;
      transition: 0.4s ease-in-out;
    }
  }
}