@import "../../variables";

.footer-container {
  background-color: $darkSE;
  display: flex;
  justify-content: center;

  .footer-row {
    justify-content: center;
    align-items: center;

    a {
      color: $white;
    }

    p {
      margin: 0;
    }

    .basic-info-column {
      display: flex;
      width: fit-content;
      flex-direction: column;
      padding-top: 1rem;
    }


    .footer-navigation-links {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 1rem;

      .footer-navigation-left {
        display: flex;
        width: fit-content;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      .footer-navigation-right {
        display: flex;
        width: fit-content;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }

    .footer-social-links {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding-top: 1rem;
    }

  }

}