.footer-container {
  .basic-info {
    padding-top: 1rem;
    display: flex;
    justify-content: center;

    .basic-info-column {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
    }
  }


  .footer-navigation-links {
    padding-top: 1rem;

    .footer-navigation-left {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: right;
    }

    .footer-navigation-right {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: left;
    }
  }


  .footer-social-links-wrapper {
    padding: 1rem 0;

    .footer-social-links {
      display: flex;
      justify-content: center;
    }
  }

}