@import "../../variables";

.header-wraper {
  background: url(/src/images/portfolio-background.jpg);
  background-size: cover;
  height: 100vh;

  h1 {
    color: $white;
    text-transform: uppercase;
  }

  .main-info {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    .text-transition {
      color: white;
      font-size: 2rem;
      transition: 10ms;
    }
  }
}