@use "../../variables" as v;

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: v.$darkerPurple;
  color: white;
  height: 6%;
  width: 100%;
  z-index: 999;
  top: 0px;
  position: fixed;
  justify-content: center;

  .nav-items {
    display: flex;
    flex-direction: row;
    align-items: center;

    .nav-item {
      color: white;
      text-transform: uppercase;
      padding: 1rem;
    }
  }
}