@use "../../../variables" as v;

.main-info {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    background-color: v.$darkerPurpleSE;
    border-radius: 10px;
    padding: 2rem;

    .photo-header {
        display: flex;
        flex-direction: initial;
        align-items: center;
        justify-content: center;

        .profile-img {
            height: 70%;
            width: auto;
            margin: 0;
            padding: 0;
            border-radius: 50%;
            border: 5px solid v.$lightPurple;
            box-sizing: border-box;
            // margin-bottom: 2rem;
        }
    }

    .skill-icons-wrapper {
        width: 100%;

        .icon-heading {
            text-align: center;
            color: white;
            margin-bottom: 2rem;
        }

        .skills-neka {
            .skill-icon {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                span {
                    color: white;
                }
            }
        }
    }
}

/* For small screens (e.g., smartphones) */
@media (min-width: 0px) and (max-width: 768px) {
    .main-info {
        .skill-icon-svg {
            width: 2rem;
            height: 2rem;
        }
    }
}

/* For medium screens (e.g., tablets) */
@media (min-width: 769px) and (max-width: 1024px) {
    .main-info {
        .skill-icon-svg {
            width: 2rem;
            height: 2rem;
        }
    }
}

/* For large screens (e.g., desktops) */
@media (min-width: 1025px) and (max-width: 1920px) {
    .main-info {
        .skill-icon-svg {
            width: 2rem;
            height: 2rem;
        }
    }
}

/* For 2K screens and larger */
@media (min-width: 1921px) and (max-width: 2560px) {
    .main-info {
        .skill-icon-svg {
            width: 4rem;
            height: 4rem;
        }
    }
}

/* For 4K screens and larger */
@media (min-width: 2561px) and (max-width: 3840px) {
    .main-info {
        .skill-icon-svg {
            width: 7rem;
            height: 7rem;
        }
    }
}

/* For larger than 4k */
@media (min-width: 3841px) {
    .main-info {
        .skill-icon-svg {
            width: 7rem;
            height: 7rem;
        }
    }
}
