@use "../../variables" as v;

.header-wraper {
	background: url(/src/images/portfolio-background.jpg);
	background-size: cover;
	margin-top: 4rem !important;
	// height: calc(100vh - 4rem);
	// width: 100vw;
	display: flex;
	// justify-content: center;
	align-items: center;
	gap: 2rem;

	.main-info {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		padding-top: 2rem;
		height: 100%;
		width: 100%;
		background-color: v.$darkerPurpleSE;
		border-radius: 10px;

		.photo-header {
			display: flex;
			justify-content: center;
			align-items: center;
			// height: 30%;
			width: 100%;

			// width: 100%;

			.profile-img {
				height: 15rem;
				margin: 0;
				padding: 0;
				border-radius: 50%;
				border: 5px solid v.$lightPurple;
				padding: 1rem;
			}
		}

		.headings {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			// height: 70%;
			width: 100%;
			padding-top: 1rem;

			.subtitle-row {
				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: column;
				// width: 100%;
				// height: 100%;

				h3 {
					color: v.$white;
					font-size: 1rem;
					font-weight: normal;
					text-align: center;
				}
			}
		}

		.skill-icons-wrapper {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			height: fit-content;
			// padding: 2rem 0;

			.skill-icon {
				display: flex;
				justify-content: center;
				flex-direction: column;
				color: v.$white;
				align-items: center;
				text-align: center;
				padding: 1rem;

				.skill-icon-back {
					width: 3rem;
					height: 3rem;
				}

				span {
					white-space: nowrap;
					font-size: 0.8rem;
				}
			}
		}

		.text-transition {
			color: white;
			font-size: 2rem;
			transition: 10ms;
		}
	}

	.games {
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: v.$darkerPurpleSE;
		height: 100%;
		width: 100%;
		// opacity: 0.7;
		border-radius: 10px;
		padding: 2rem;

		.game {
			width: 100%;
			// height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			opacity: 1;
			padding-bottom: 1rem;
		}
	}
	.heading-row {
		h1 {
			text-transform: none;
			text-align: center !important;
		}

		p {
			text-align: center;
			color: red;
		}
	}
}

//lg
@media (min-width: 992px) {
	.header-wraper {
		flex-direction: row;
		// height: calc(100%);

		.personal-row {
			height: 100% !important;
		}

		.games-row {
			height: 100% !important;
		}
	}
}

//md
@media (max-width: 992px) {
	.header-wraper {
		flex-direction: column;

		.personal-row {
			width: 100% !important;
		}
	}
}

//sm
@media (max-width: 768px) {
	.header-wraper {
		flex-direction: column;

		.skill-icon-back {
			width: 2rem !important;
			height: 2rem !important;
		}
	}
}

//xs
@media (max-width: 576px) {
	.header-wraper {
		flex-direction: column;

		.skill-icon-back {
			width: 2rem !important;
			height: 2rem !important;
		}
	}
}
