@use "../../variables" as v;

.header-wrapper {
	background: url(/src/images/portfolio-background.jpg);
	background-size: cover;
	margin-top: 4rem !important;
	display: flex;
	gap: 1rem;
	padding: 1rem !important;
}

@media (max-width: 992px) {
	.header-wrapper {
		flex-direction: column !important;
		height: auto !important;
	}
}

@media (min-height: 765px) {
	.header-wrapper {
		height: calc(100vh - 4rem);
	}
}
