@use "../../variables" as v;

.navbar {
	background-color: rgba(var(--bs-dark-rgb));

	.logo {
		width: 10rem;
	}
	.navbar-collapse,
	.collapse {
		background-color: rgba(var(--bs-dark-rgb));
		justify-content: space-between;
	}

	.nav-link {
		color: v.$medium-gray;
	}

	.nav-link:focus {
		color: v.$medium-gray;
	}
	.nav-link:hover {
		color: v.$lightPurple;
	}

	.navbar-right {
		display: flex;
		justify-content: space-between;
		gap: 0.5rem;

		.navbar-icon-links {
			display: flex;
			align-items: center;
			flex-direction: row;
			gap: 0.5rem;
			justify-content: flex-start;
		}

		.navbar-language-switch {
			display: flex;
			align-items: center;
			justify-content: flex-end;
		}
	}
}
