.navbar {
  .logo {
    width: 10rem;
  }

  .collapse {
    justify-content: space-between
  }

  .navbar-right {
    display: flex;
    align-items: center;
    gap: 1rem;

    .icon-link {
      svg {
        width: 2rem;
        height: 2rem;
      }
    }
  }
}