$white: #fff;
$light-gray: #f4f4f4;
$medium-gray: #d4d4d4;
$gray: #888888;
$dark: #343a40;
$black: #000000;
$darkSE: rgb(52, 58, 64);
$transparent-black: rgba(0, 0, 0, 0.8);
$green: #009e15;
$red: #b90000;
$blue: #224693;
$darkerPurple: #404258;
$darkPurple: #474e68;
$mediumPurple: #50577a;
$lightPurple: #6b728e;
$lighterPurple: #6b728e;
