@use "variables" as v;

#root {
  height: 100vh;
  width: 100vw;
}

::-webkit-scrollbar {
  display: none;
}

.main-wrapper {
  padding-left: 2rem;
  padding-right: 2rem;
}

.heading {
  color: v.$white;
  text-transform: uppercase;
  font-weight: 525;
  display: flex;
  justify-content: center;
  padding: 3rem 0;
  ;
  margin: 0;
}